.element__trash-icon {
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0);
  background-image: url('../../../images/trash-bin.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-out;
}

.element__trash-icon:hover {
  opacity: 0.6;
}
